html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
}

.top-bar {
    background: #1b1b1b;
    align-items: center;
    display: flex;
    height: 128px;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 2px solid #05381d;
    z-index: 3;
}

.top-bar .top-bar-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 920px;
}

.top-bar h1 {
    flex: 1;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.top-bar .left-block {
    flex: 1;
    text-align: left;
}

.top-bar .left-block a.email {
    text-decoration: none;
    color: white;
    margin-left: 16px;
}

.top-bar .right-block {
    flex: 1;
    text-align: right;
}

/* icons */
.top-bar .right-block a {
    text-decoration: none;
    color: white;
    margin-left: 16px;
    font-size: 24px;
}

.top-spacer {
    margin-top: 128px;
}

.top-section {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.top-section h1 {
    text-align: center;
    width: 100%;
    font-size: 48px;
    font-weight: 300;
}

.section {
    position: relative;
    min-height: 800px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.section img, .top-section img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
    overflow: hidden;
}

.text-container {
    z-index: 2;
    margin: 0 auto;
    max-width: 920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.text-container.music {
    flex-direction: column;
}

.top-section .text-container {
    max-width: 100%;
}

.section h1 {
    text-align: center;
    font-weight: 200;
}

.section h2 {
    font-weight: 200;
    font-size: 36px;
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 2;
}

.songs-container {
    display: flex;
    max-width: 920px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.song {
    text-align: center;
    position: relative;
    flex: 1;
}

.song audio {
    max-width: 256px;
    margin: 0 auto;
    display: block;
    position: relative;
    width: 100%;
}

.album-art-container {
    position: relative;
    margin: 0 auto;
    width: 256px;
    height: 256px;
}

.album-art-container img {
    opacity: 1;
    display: block;
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
}

.song-text {
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 16px);
    text-align: left;
    z-index: 100;
    padding: 8px;
    vertical-align: bottom;
    line-height: 20px;
}

.song-text h1 { 
    font-weight: 400;
    /* text-align: left; */
    font-size: 20px;
    margin-bottom: 0px;
    display: block;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

.song-text a {
    display: block;
    float: right;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.album-art-container audio {
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.footer {
    height: 64px;
    font-size: 16px;
    text-align: center;
    line-height: 64px;
    color: gray;
}

@media only screen and (max-width: 600px) {
    .top-bar {
        padding: 0 8px;
        width: calc(100% - 16px);
        height: 50px;
    }
    .top-bar .top-bar-content .left-block {
        display: none;
    }
    .top-bar .top-bar-content h1 {
        text-align: left;
        font-size: 20px;
    }
    .top-spacer {
        margin-top: 50px;
    }
    .top-section {
        height: 300px;
    }
    .top-section img {
        /* display: none; */
        height: 100%;
        width: auto;
    }
    .top-section h1 {
        font-size : 36px;
/* .top-section h1 { */
/*     text-align: center; */
/*     width: 100%; */
/*     font-size: 48px; */
/*     font-weight: 300; */
/* } */
    }

    .section img {
        height: 100%;
        width: auto;
    }
    
    .text-container {
        flex-direction: column;
        padding: 0 8px;
    }

    .songs-container {
        flex-direction: column;
    }    
    .song {
        margin-bottom: 16px;
    }
}
